/ArielGeometryModelTmp/ArielGeometryModel/build/
/ArielGeometryModelTmp/ArielGeometryModel/nbproject/private/
/ArielGeometryModel/ArielGeometryModel/build/
/ArielTrajectoryEditor/build/
/JFreechartlibrarywrapper/build/
/vecmath/build/
/ArielGeometryRoseViewer/build/
/ArielGeometryJFCViewer/build/